@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.footnote {
  display: block;
  position: absolute;
  bottom: 3em;
  font-size: 80%;
}

.footer {
  display: block;
  position: absolute;
  bottom: 0em;
  font-size: 80%;
  color: grey;
}

.smaller-font { font-size:14px }

.bigger { font-size: 150%; }

.image img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Two-column layout */
.left-column {
  width: 45%;
  float: left;
}

.right-column {
  width: 45%;
  float: right;
}
